.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 4rem;
  z-index: 1;
  position: relative;
  padding: 0 1rem;
  margin: 1rem 0;

  h1 {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.87);
    margin: 0;
    padding: 0;
  }

  .header__img {
    width: 7rem;
    margin-right: 1rem;
  }

  .header__search {
    min-width: 40%;
    // display: flex;
    // padding: 0.5rem;
    text-align: right;
    // align-items: center;
  }

  // .header__search {
  //   justify-content: flex-end;
  // }
}

.add-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
}

// mat-toolbar {
//   padding: 1rem;
// }

.spacer {
  flex: 1 2 auto;
}

// img {
//   width: 7rem;
//   margin-right: 1rem;
// }

@media screen and (max-width: 598px) {
  .header {
    flex-wrap: wrap;
  }

  .spacer {
    display: none;
  }

  img {
    display: none;
    // height: 1px;
    // margin: -1px;
    // overflow: hidden;
  }

  .add-button {
    bottom: 30px;
    right: 30px;
  }
}
