.spinner {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .mat-mdc-paginator-container {
  justify-content: flex-start;
}

.mobile-actions {
  display: none;
}

@media screen and (max-width: 598px) {
  .desktop-actions {
    display: none;
  }

  .mobile-actions {
    display: inline-block;
  }

  .mat-mdc-table {
    vertical-align: middle;
  }

  .mat-mdc-table .mdc-data-table__header-row {
    display: none;
  }

  .mat-mdc-table .mat-mdc-row:nth-child(odd) {
    background: rgb(74, 74, 74);
  }

  .mat-mdc-table .mat-mdc-header-cell {
    display: none;
  }

  .mat-mdc-table .mat-mdc-row {
    height: 220px;
    display: block;
    padding: 1rem;
  }

  .mat-mdc-table .mat-mdc-cell {
    display: block;
    text-align: right;
    height: 24px;
    padding: 0.1rem;
  }

  .mat-mdc-table .mat-mdc-cell:last-child {
    height: 48px;
  }

  .mat-mdc-icon-button {
    width: 36px;
    height: 36px;
  }

  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    width: 36px;
    height: 36px;
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
    padding: 6px;
  }

  .mat-mdc-table .mat-mdc-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
  }

  .mat-mdc-table .mat-mdc-cell:last-child {
    border-bottom: 0;
  }

  :host ::ng-deep .mat-mdc-paginator-container {
    padding-bottom: 50px;
  }
}
