<ng-container *ngIf="!isLoading">
  <section class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="custom-table">
      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand</th>
        <td mat-cell *matCellDef="let car" data-label="Brand">
          {{ car.brand }}
        </td>
      </ng-container>

      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
        <td mat-cell *matCellDef="let car" data-label="Model">
          {{ car.model }}
        </td>
      </ng-container>

      <ng-container matColumnDef="vin">
        <th mat-header-cell *matHeaderCellDef>VIN</th>
        <td mat-cell *matCellDef="let car" data-label="VIN">{{ car.vin }}</td>
      </ng-container>

      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Color</th>
        <td mat-cell *matCellDef="let car" data-label="Color">
          {{ car.color }}
        </td>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
        <td mat-cell *matCellDef="let car" data-label="Year">{{ car.year }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let car" data-label="Price">
          {{ car.price }}
        </td>
      </ng-container>

      <ng-container matColumnDef="availability">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Availability</th>
        <td mat-cell *matCellDef="let car" data-label="Availabile">
          {{ car.availability ? "+" : "-" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let car" data-label="Actions">
          <app-dropdown
            class="desktop-actions"
            (edit)="editCar(car)"
            (delete)="deleteCar(car)"
          ></app-dropdown>

          <ng-container>
            <button
              mat-icon-button
              (click)="editCar(car)"
              class="mobile-actions"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="deleteCar(car)"
              class="mobile-actions"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
</ng-container>
<ng-container *ngIf="isLoading">
  <div class="spinner">
    <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
  </div>
</ng-container>
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  [pageSize]="10"
  showFirstLastButtons
  aria-label="Select page of cars"
>
</mat-paginator>
