/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/purple-green.css";

html,
body {
  height: 100%;
  background-color: rgb(66, 66, 66);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 598px) {
  // .mat-dialog-content .mat-mdc-dialog-content .mdc-dialog__content {
  //   max-height: unset;
  // }

  // .mat-mdc-dialog-content {
  //   max-height: unset;
  // }

  .cdk-overlay-container .mat-mdc-dialog-container {
    position: absolute;
    left: 10%;
  }

  .mdc-dialog {
    position: fixed;
    height: auto;
    width: auto;
  }

  .cdk-overlay-container .mat-mdc-dialog-container .mdc-dialog__surface {
    height: fit-content;
  }
}
